extend ../layout.pug

block main
  section
    header
      h1 #{title}
      h2 with #[a(href=partner.link) #{partner.name}]

      p Test-driven development can help you write clean code, catch bugs early, and have the confidence to change your code when you need it. In this #[strong hands-on] workshop, you will learn and practice the basics of TDD.

      p Samir Talwar and David Tanzer will take you on a guided tour of TDD. Along the way, you'll learn:

      ul
        li the #[span(style='color: #900') red], #[span(style='color: #090') green], #[span(style='color: #009') refactor] cycle
        li how to verify that you're creating the right functionality
        li tried-and-tested techniques for isolating hard-to-find bugs
        li #[em listening] to your tests, letting them guide you to a better structure
        li refactoring with a strong safety net

      p We'll start from the basics, but we'll cover advanced topics too. We'll especially focus on how to test-drive truly object-oriented code.

      p Join us for one day of deliberate practice and learning, and you'll be able to confidently apply your new skills on the job.

      hr

      h3 Requirements

      p You will need to bring:

      ul
        li a laptop, with wi-fi and a charger
        li your favourite development environment
        li a head ready for learning

      p Code examples will be in JavaScript, but we're happy to teach Java, C#, Ruby and Python as necessary. If you have a different favourite language, just let us know. Chances are that between us, we can cover it.

      hr

      h3 Prices

      p The workshop will be £500 + VAT for one day, to be paid ahead of time.
