doctype html
html
  head
    meta(charset='utf-8')
    title [≈]
    link(rel='stylesheet' href='/site.css')
    script(src='https://use.fontawesome.com/c941d87d5e.js' defer)

  body
    header
      h1
        a(href='/') [≈]

      nav.navigation
        ul
          li
            a(href='/') Home
          li
            a(href='http://monospacedmonologues.com/') Blog
          li
            a(href='/status') Current Status
          li
            a(href='/talks') Previous Talks

      nav.external
        ul
          li
            a(href='https://twitter.com/SamirTalwar')
              i(class='fa fa-twitter' aria-hidden='true')
          li
            a(href='https://github.com/SamirTalwar')
              i(class='fa fa-github' aria-hidden='true')
          li
            a(href='https://stackoverflow.com/cv/SamirTalwar')
              i(class='fa fa-stack-overflow' aria-hidden='true')
          li
            a(href='https://www.linkedin.com/in/samirtalwar')
              i(class='fa fa-linkedin' aria-hidden='true')

    main
      section.about-me
        header
          h2 About me

        p Hi there. My name is Samir Talwar.

        p I'm an automation engineer and software crafter, living in London. My main foci are functional programming, cloud systems and containers.

        p I also teach others how to do what I do.

        p Currently, I'm off on a new venture and not looking for work. Watch this space.

      section.talks
        header
          h2 Upcoming talks and workshops
