doctype html
html
  head
    meta(charset='utf-8')
    title [≈]
    link(rel='stylesheet' href='/site.css')
    script(src='https://use.fontawesome.com/c941d87d5e.js' defer)

  body
    header
      h1
        a(href='/') [≈]

      nav.navigation
        ul
          li
            a(href='/') Home
          li
            a(href='http://monospacedmonologues.com/') Blog
          li
            a(href='http://talks.samirtalwar.com/') Previous Talks

      nav.external
        ul
          li
            a(href='https://twitter.com/SamirTalwar')
              i(class='fa fa-twitter' aria-hidden='true')
          li
            a(href='https://github.com/SamirTalwar')
              i(class='fa fa-github' aria-hidden='true')
          li
            a(href='https://stackoverflow.com/cv/SamirTalwar')
              i(class='fa fa-stack-overflow' aria-hidden='true')
          li
            a(href='https://www.linkedin.com/in/samirtalwar')
              i(class='fa fa-linkedin' aria-hidden='true')

    main
      block main
