extend layout.pug

block main
  h1 Speaker Bio

  p Samir Talwar is an expert in all programming disciplines, including, but not limited to:

  ul
    li dysfunctional,
    li objectifying,
    li argumentative,
    li illogical,
    li headache-oriented architecture,
    li fragile software, and
    li bullet points.

  p He has received several awards in the field of software design and development, and has been praised endlessly by critics. One 22-year old colleague stated he was "hands-down the most bearded developer he'd ever seen". Clients refer to him as "Oh, it's you again". When his superiors were asked to comment, they showered him with compliments such as "Who the hell is Samir?"
