meta(charset='utf-8')
if title
  title #{title} &asymp; Noodle Sandwich
else
  title Noodle Sandwich
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='/site.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Code+Pro')
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/brands.css" integrity="sha384-n9+6/aSqa9lBidZMRCQHTHKJscPq6NW4pCQBiMmHdUCvPN8ZOg2zJJTkC7WIezWv" crossorigin="anonymous")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous")
script(async src='https://www.googletagmanager.com/gtag/js?id=UA-2662678-4')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-2662678-4');

link(rel='apple-touch-icon' sizes='180x180' href='https://assets.noodlesandwich.com/apple-touch-icon.png')
link(rel='icon' type='image/png' href='https://assets.noodlesandwich.com/favicon-32x32.png' sizes='32x32')
link(rel='icon' type='image/png' href='https://assets.noodlesandwich.com/favicon-16x16.png' sizes='16x16')
link(rel='manifest' href='https://assets.noodlesandwich.com/manifest.json')
link(rel='mask-icon' href='https://assets.noodlesandwich.com/safari-pinned-tab.svg' color='#5bbad5')
meta(name='theme-color' content='#ffffff')
