meta(charset='utf-8')
if title
  title #{title} &asymp; Noodle Sandwich
else
  title Noodle Sandwich
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='/site.css')

link(rel='apple-touch-icon' sizes='180x180' href='https://assets.noodlesandwich.com/apple-touch-icon.png')
link(rel='icon' type='image/png' href='https://assets.noodlesandwich.com/favicon-32x32.png' sizes='32x32')
link(rel='icon' type='image/png' href='https://assets.noodlesandwich.com/favicon-16x16.png' sizes='16x16')
link(rel='manifest' href='https://assets.noodlesandwich.com/manifest.json')
link(rel='mask-icon' href='https://assets.noodlesandwich.com/safari-pinned-tab.svg' color='#5bbad5')
meta(name='theme-color' content='#ffffff')
