extend layout.pug

block head
  script(defer src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js')
  script(defer src='/assets/pages/index.js')

block main
  section.narrow.about-me
    header
      h2 About me

    p Hi there. My name is Samir Talwar.

    p I'm the Chief Technology Officer of #[a(href='https://prodo.ai') Prodo.AI]. We make machines write code for humans.

    p We use machine learning, data science and human guidance to read, contribute and correct your code, helping you deliver production-quality software faster.

    hr

    p On the side, I'm an automation engineer and software crafter, living in London and focusing on functional programming, cloud computing, and systems resilient to failure.

    p I also teach others how to do what I do.

  section.narrow.upcoming-events
    p.message Loading…
