extend layout.pug

block head
  script(defer src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js')
  script(defer src='/pages/index.js')

block main
  section.narrow.about-me
    header
      h2 About me

    p Hi there. My name is Samir Talwar.

    p I'm a developer on #[a(href='https://daml.com/') DAML], making it trivial to build fully distributed applications.

    p I've been a programmer, a public speaker, a trainer, a teacher, and a CTO.

    p I also teach others how to do what I do.

  section.narrow.upcoming-events
    p.message Loading…
