doctype html
html(lang='en')
  head
    include head.pug
    block head

  body
    header
      h1
        a(href='/') [≈]

      nav.navigation
        ul
          li
            a(href='/') Home
          li
            a(href='http://monospacedmonologues.com/') Blog

      nav.external
        ul
          li
            a(href='mailto:samir@noodlesandwich.com')
              i(class='fa fa-envelope' aria-label='Email' aria-hidden='true')
          li
            a(href='https://twitter.com/SamirTalwar')
              i(class='fa fa-twitter' aria-label='Twitter' aria-hidden='true')
          li
            a(href='https://github.com/SamirTalwar')
              i(class='fa fa-github' aria-label='GitHub' aria-hidden='true')
          li
            a(href='https://stackoverflow.com/cv/SamirTalwar')
              i(class='fa fa-stack-overflow' aria-label='Stack Overflow' aria-hidden='true')
          li
            a(href='https://www.linkedin.com/in/samirtalwar')
              i(class='fa fa-linkedin' aria-label='LinkedIn' aria-hidden='true')

    main
      block main
