doctype html
html(lang='en')
  head
    include head.pug

    link(rel='stylesheet' href='/talks.css')

    link(rel='stylesheet' href='/vendor/prismjs/prism.css')

    script(src='//platform.twitter.com/widgets.js' charset='utf-8' async defer)

    link(rel='stylesheet' href='/vendor/reveal.js/css/reveal.css')
    link(rel='stylesheet' href='/vendor/reveal.js/css/theme/white.css')
    script(src='/vendor/reveal.js/lib/js/head.min.js' defer)
    script(src='/vendor/reveal.js/js/reveal.js' defer)
    script.
      document.addEventListener('DOMContentLoaded', () => {
        for (let node of Array.from(document.getElementsByClassName('notes'))) {
          node.parentElement.removeChild(node)
        }
        Reveal.initialize()
      })

  body.full-screen
    div.talk.presentation
      .reveal
        .slides
          section
            header
              h1 #{title}
              h2 #{formattedDate}

          | !{contents}
