doctype html
html(lang='en')
  head
    include head.pug

    link(rel='stylesheet' href='/site.css')
    link(rel='stylesheet' href='/talks.css')
    link(rel='stylesheet' href='/slides.css')

    link(rel='stylesheet' href='/vendor/prismjs/prism-okaidia.css')
    script(src='/vendor/prismjs/prism.js' async defer)

    script(src=`/talks/${slug}/presentation.js` defer)
    script.
      window.moduleName = "#{presentation.module}";
    script(src=`/talks/presentation.js` defer)

  body
