server {
  listen $PORT default_server;

  charset utf-8;

  location / {
    add_header "Content-Security-Policy" "default-src * data: 'unsafe-inline' 'unsafe-eval'";
    add_header "X-Frame-Options" "DENY";
    add_header "X-XSS-Protection" "1; mode=block";

    root /usr/share/nginx/html;
    rewrite ^(/.*)\.html(\?.*)?$ $1$2;
    index index.html;
    try_files $uri.html $uri/ $uri =404;
  }
}
