@import 'normalize.scss';

$link-color: #8e68a3;
$link-hover-color: #b397c3;
$link-visited-color: #6f4288;

* {
  box-sizing: border-box;
}

body {
  max-width: 800px;
  margin: 1em auto;
  font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body > header {
  h1 {
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 3em;
  }

  nav {
    > ul {
      display: flex;
      padding: 0;
      justify-content: center;
      list-style: none;

      > li > a {
        display: block;
      }
    }
  }

  .navigation {
    > ul {
      background-color: $link-color;
      color: white;

      > li > a {
        padding: 5px 1em;
        color: white;

        &:hover {
          background-color: $link-hover-color;
          color: white;
        }

        &:visited {
          color: white;
        }
      }
    }
  }

  .external {
    font-size: 2em;

    > ul {
      margin: 0.5em;
    }

    .fa {
      display: block;
      padding: 5px 1em;
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;

  > section {
    flex-grow: 1;

    &.narrow {
      flex-basis: 50%;
    }

    &:not(:first-child) {
      padding-left: 1em;
      border-left: 1px solid $link-color;
    }

    &:not(:last-child) {
      padding-right: 1em;
    }
  }
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover, .fa:hover {
    color: $link-hover-color;
  }

  &:visited {
    color: $link-visited-color;
  }
}

hr {
  width: 50%;
  margin: 2em auto;
  border: none;
  border-top: 1px solid $link-color;
}
