html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  max-width: inherit;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide {
  width: 100%;
  height: 100%;
}

.talk.presentation .app .another.slide {
  display: none;
}
