body.full-screen {
  width: 100%;
  max-width: inherit;
}

.talk {
  width: 100%;

  code, kbd, pre, samp, code[class*="language-"], pre[class*="language-"] {
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
  }

  &.essay {
    .slides-only {
      display: none;
    }
  }

  &.presentation {
    height: 100%;
  }

  .twitter-tweet {
      margin: 1em auto !important;
  }

  .byte-array {
    margin: auto;

    td {
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        padding: 4px;
        text-align: center;
    }
  }

  .reveal * {
    font-family: 'Source Code Pro', monospace;
  }
}
