html,
body,
.talk.presentation {
  height: 100%;
}

body.full-screen {
  width: 100%;
  padding: 0;
  max-width: inherit;
}

.talk {
  width: 100%;

  code,
  kbd,
  pre,
  samp,
  code[class*='language-'],
  pre[class*='language-'] {
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
  }

  &.essay {
    .slides-only {
      display: none;
    }
  }

  &.presentation {
    height: 100%;

    .app {
      padding: 1em 3em;
      background-color: #1b1328;
      color: #ffffff;
      font-size: 2em;

      .slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    pre,
    code {
      background-color: rgba(128, 128, 128, 0.2);

      code {
        background: none;
      }
    }

    h1,
    h2,
    h3 {
      text-align: center;
    }

    .prose {
      margin: 0 2em;
    }

    .big {
      font-size: 2.5em;
    }

    .codepen-container {
      width: 100%;
    }
  }

  &.video {
    text-align: center;
  }

  .image img,
  .twitter-tweet {
    display: block;
    max-width: 100%;
    margin: 1em auto;
  }

  .image figcaption {
    text-align: center;
  }

  .byte-array {
    margin: auto;

    td {
      width: 16px;
      height: 16px;
      border: 1px solid #ccc;
      padding: 4px;
      text-align: center;
    }
  }

  .reveal * {
    font-family: 'Source Code Pro', monospace;
  }
}
